extends layout

block vars
  - var title = 'About'

block content
  |Made by Isti115
  br
  |for extra fun paste this into your js console!
  hr
  |for(var i = 0; i < 512; i++)
  |{
  |  webSocket.send(JSON.stringify({"type":"rectdata","data":{"x":i,"y":i,"color":"#000000"}}));
  |}
  hr
  |for(var i = 0; i < 52; i++) { webSocket.send(JSON.stringify({"type":"rectdata","data":{"x":i * 10,"y":i * 10,"color":"#000000"}})); }