- var pages = [{name: 'Home', path: '/'}, {name: 'Play', path: '/play'}, {name: 'About', path: '/about'}]

div#header
  div#headerContainer
    div#login
      input#saveButton(type='button', value='Save')
    
    div#menu
      div#navigation
        ul#navigationList
          each page in pages
            li.navigationItem
              a(href=page.path)= page.name
      div#account
        |notifications, ▲login▼...