extends layout

block vars
  - var title = 'Play | Room: ' + room

block scripts
  script(src='/javascripts/websocket.js')
  script(src='/javascripts/play.js')
  script(src='/javascripts/snake.js')

block content
  div#joinDialogContainer
    div#joinDialogTable
      div#joinDialogCell
        div#joinDialog.contentDiv
          |Username: <br/>
          input#usernameInput(type='text', value='Guest')
          |<br/>
          |Room: <br/>
          input#roomInput(type='text', value=room)
          |<br/>
          input#joinButton(type='button', value='Join')
  
  div.contentDiv#gameArea
    canvas#field(width='512', height='512')
    p Click to place a dot
  
  div#gameSidebar
    div.contentDiv.sidebarDiv#roomId
      | Room: #{room}
    
    div.contentDiv.sidebarDiv#playerListContainer
      | Online users:
      ul#playerList
        li example
    
    div.contentDiv.sidebarDiv#colorPicker
      |Pick your color!
      br
      |Red
      br
      input.pickerSlider#colorRed(type='range', min='0', max='255' value='0')
      br
      |Green
      br
      input.pickerSlider#colorGreen(type='range', min='0', max='255' value='0')
      br
      |Blue
      br
      input.pickerSlider#colorBlue(type='range', min='0', max='255' value='0')
      div#colorPreview
      
    div.contentDiv.sidebarDiv#radiusPicker
      |Pick your radius!
      br
      input.pickerSlider#radius(type='range', min='0', max='20' value='10')
      div#radiusPreview
      
    input#snakeButton(type='button', value='Snake')
    input#snakeOffButton(type='button', value='SnakeOff')
    
    div.contentDiv#messageOutput
      |Messages here: